In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('tech_resumes1.csv')
df

         Category                                             Resume
0    Data Science  Skills  Programming Languages Python pandas nu...
1    Data Science  Education Details May 2013 to May 2017 BE   UI...
2    Data Science  Areas of Interest Deep Learning Control System...
3    Data Science  Skills  R  Python  SAP HANA  Tableau  SAP HANA...
4    Data Science  Education Details  MCA   YMCAUST  Faridabad  H...
..            ...                                                ...
957       Testing  Computer Skills  Proficient in MS office Word ...
958       Testing   Willingness to accept the challenges  Positiv...
959       Testing  PERSONAL SKILLS  Quick learner  Eagerness to l...
960       Testing  COMPUTER SKILLS  SOFTWARE KNOWLEDGE MSPower Po...
961       Testing  Skill Set OS Windows XP788110 Database MYSQL s...

[962 rows x 2 columns]

In [5]:
df['Resume'] = df['Resume'].str.replace(r'[^A-Za-z0-9 ]+', '', regex=True)

In [6]:
df

         Category                                             Resume
0    Data Science  Skills  Programming Languages Python pandas nu...
1    Data Science  Education Details May 2013 to May 2017 BE   UI...
2    Data Science  Areas of Interest Deep Learning Control System...
3    Data Science  Skills  R  Python  SAP HANA  Tableau  SAP HANA...
4    Data Science  Education Details  MCA   YMCAUST  Faridabad  H...
..            ...                                                ...
957       Testing  Computer Skills  Proficient in MS office Word ...
958       Testing   Willingness to accept the challenges  Positiv...
959       Testing  PERSONAL SKILLS  Quick learner  Eagerness to l...
960       Testing  COMPUTER SKILLS  SOFTWARE KNOWLEDGE MSPower Po...
961       Testing  Skill Set OS Windows XP788110 Database MYSQL s...

[962 rows x 2 columns]

In [9]:
resume = pd.read_csv("Resume.csv")
resume["Resume_str"][0]

"         HR ADMINISTRATOR/MARKETING ASSOCIATE\n\nHR ADMINISTRATOR       Summary     Dedicated Customer Service Manager with 15+ years of experience in Hospitality and Customer Service Management.   Respected builder and leader of customer-focused teams; strives to instill a shared, enthusiastic commitment to customer service.         Highlights         Focused on customer satisfaction  Team management  Marketing savvy  Conflict resolution techniques     Training and development  Skilled multi-tasker  Client relations specialist           Accomplishments      Missouri DOT Supervisor Training Certification  Certified by IHG in Customer Loyalty and Marketing by Segment   Hilton Worldwide General Manager Training Certification  Accomplished Trainer for cross server hospitality systems such as    Hilton OnQ  ,   Micros    Opera PMS   , Fidelio    OPERA    Reservation System (ORS) ,   Holidex    Completed courses and seminars in customer service, sales strategies, inventory control, loss prevention, safety, time management, leadership and performance assessment.        Experience      HR Administrator/Marketing Associate\n\nHR Administrator     Dec 2013   to   Current      Company Name   －   City  ,   State     Helps to develop policies, directs and coordinates activities such as employment, compensation, labor relations, benefits, training, and employee services.  Prepares employee separation notices and related documentation  Keeps records of benefits plans participation such as insurance and pension plan, personnel transactions such as hires, promotions, transfers, performance reviews, and terminations, and employee statistics for government reporting.  Advises management in appropriate resolution of employee relations issues.  Administers benefits programs such as life, health, dental, insurance, pension plans, vacation, sick leave, leave of absence, and employee assistance.     Marketing Associate \xa0   Designed and created marketing collateral for sales meetings, trade shows and company executives.  Managed the in-house advertising program consisting of print and media collateral pieces.  Assisted in the complete design and launch of the company's website in 2 months.  Created an official company page on Facebook to facilitate interaction with customers.  Analyzed ratings and programming features of competitors to evaluate the effectiveness of marketing strategies.         Advanced Medical Claims Analyst     Mar 2012   to   Dec 2013      Company Name   －   City  ,   State     Reviewed medical bills for the accuracy of the treatments, tests, and hospital stays prior to sanctioning the claims.  Trained to interpret the codes (ICD-9, CPT) and terminology commonly used in medical billing to fully understand the paperwork that is submitted by healthcare providers.  Required to have organizational and analytical skills as well as computer skills, knowledge of medical terminology and procedures, statistics, billing standards, data analysis and laws regarding medical billing.         Assistant General Manager     Jun 2010   to   Dec 2010      Company Name   －   City  ,   State     Performed duties including but not limited to, budgeting and financial management, accounting, human resources, payroll and purchasing.  Established and maintained close working relationships with all departments of the hotel to ensure maximum operation, productivity, morale and guest service.  Handled daily operations and reported directly to the corporate office.  Hired and trained staff on overall objectives and goals with an emphasis on high customer service.  Marketing and Advertising, working on public relations with the media, government and local businesses and Chamber of Commerce.         Executive Support / Marketing Assistant     Jul 2007   to   Jun 2010      Company Name   －   City  ,   State     Provided assistance to various department heads - Executive, Marketing, Customer Service, Human Resources.  Managed front-end operations to ensure friendly and efficient transactions.  Ensured the swift resolution of customer issues to preserve customer loyalty while complying with company policies.  Exemplified the second-to-none customer service delivery in all interactions with customers and potential clients.         Reservation & Front Office Manager     Jun 2004   to   Jul 2007      Company Name   －   City  ,   State          Owner/ Partner     Dec 2001   to   May 2004      Company Name   －   City  ,   State          Price Integrity Coordinator     Aug 1999   to   Dec 2001      Company Name   －   City  ,   State          Education      N/A  ,   Business Administration   1999     Jefferson College   －   City  ,   State       Business Administration  Marketing / Advertising         High School Diploma  ,   College Prep. studies   1998     Sainte Genevieve Senior High   －   City  ,   State       Awarded American Shrubel Leadership Scholarship to Jefferson College         Skills     Accounting, ads, advertising, analytical skills, benefits, billing, budgeting, clients, Customer Service, data analysis, delivery, documentation, employee relations, financial management, government relations, Human Resources, insurance, labor relations, layout, Marketing, marketing collateral, medical billing, medical terminology, office, organizational, payroll, performance reviews, personnel, policies, posters, presentations, public relations, purchasing, reporting, statistics, website.    "

In [11]:
import pandas as pd
import re

def extract_title(text):
    if not isinstance(text, str):
        return None
    
    # Split by newline and take the first meaningful line
    first_line = text.strip().split("\n")[0].strip()
    
    # Remove trailing words like "Summary"
    first_line = re.split(r'\bSummary\b', first_line, flags=re.IGNORECASE)[0].strip()
    
    return first_line

resume["title"] =resume["Resume_str"].apply(extract_title)

In [13]:
def remove_title(row):
    resume = row["Resume_str"]
    title = row["title"]

    if not isinstance(resume, str) or not isinstance(title, str):
        return resume
    
    # Remove only the first occurrence of the title at the start
    cleaned = resume.strip()

    # If the resume starts with the title, remove it
    if cleaned.upper().startswith(title.upper()):
        cleaned = cleaned[len(title):].strip()

    return cleaned

resume["Resume_str"] = resume.apply(remove_title, axis=1)

In [14]:
resume.head()

,ID,Resume_str,Resume_html,Category,title
0,16852973,HR ADMINISTRATOR Summary Dedicated C...,"<div class=""fontsize fontface vmargins hmargin...",HR,HR ADMINISTRATOR/MARKETING ASSOCIATE
1,22323967,Summary Versatile media professional with...,"<div class=""fontsize fontface vmargins hmargin...",HR,"HR SPECIALIST, US HR OPERATIONS"
2,33176873,Summary Over 20 years experience in recru...,"<div class=""fontsize fontface vmargins hmargin...",HR,HR DIRECTOR
3,27018550,"Summary Dedicated, Driven, and Dynamic with...","<div class=""fontsize fontface vmargins hmargin...",HR,HR SPECIALIST
4,17812897,*Muskingum Valley Human Resource Management As...,"<div class=""fontsize fontface vmargins hmargin...",HR,HR MANAGER Skill Highlights ...

In [15]:
resume = resume.drop(['ID', 'Resume_html'], axis = 1)

In [16]:
resume.head()

,Resume_str,Category,title
0,HR ADMINISTRATOR Summary Dedicated C...,HR,HR ADMINISTRATOR/MARKETING ASSOCIATE
1,Summary Versatile media professional with...,HR,"HR SPECIALIST, US HR OPERATIONS"
2,Summary Over 20 years experience in recru...,HR,HR DIRECTOR
3,"Summary Dedicated, Driven, and Dynamic with...",HR,HR SPECIALIST
4,*Muskingum Valley Human Resource Management As...,HR,HR MANAGER Skill Highlights ...

In [17]:
df.to_csv("tech_resumes1.csv", index=False)

In [18]:
resume.to_csv("resumes.csv", index=False)